body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.btn-primary {
  background-color: #f0c040;
  color: #000;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px solid #404040;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
  height: 350px;
}

.product-info {
  padding: 1rem;
}

.rating span {
  color: #ffc000;
}

.img-large {
  max-width: 100%;
}

#bubble-mc {
  margin-left: 5px;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  width: 600px;
}
